*.class
*.war
*.ear
.idea/
*.iml
target/
test-output/
*~
*.classpath
*.project
*.settings
.DS_Store
.rvmrc
.ruby-version
.ruby-gemset
*.pyc
.vagrant
*.swp
logs/
**/application-local.properties
**/.springBeans
/build.log
/git.log
**/jmeter.log
**/.externalToolBuilders
**/db.properties
**/dev-test/
**/config-*.properties
**/*.conf
**/devices-*.txt
storeExcel/